image:
  repository: registry.kci.rocks/devops/probe-timeout-operator
  tag: latest
  pullPolicy: Always
 
imagePullSecrets:
  - name: regcred

replicaCount: 1

serviceAccount:
  create: true
  name: probe-fix-operator

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

